page-home {

}
.bottom_bar {
    position: fixed;
    bottom: 2vh;
    width: 100%;
}
navbar-md-height {
  height: 40px;
}

.header {
  background-color: #ededed;

}


.title-image {
    margin-top: 1px;
    height: 40px;
    margin-left: -20px;
}

.icon-name {
  color: black;
  margin-bottom: 10px;

}
